<a href="https://colab.research.google.com/github/Franciscotor1/spark_one/blob/master/spark_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("GUIAMEEE QUETZAL!!")

GUIAMEEE QUETZAL!!

In [4]:
# Instala Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Descarga e instala Apache Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

# Configura las variables de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

# Añade Spark al sistema
import findspark
findspark.init()

# Crea una sesión Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Verifica la instalación
spark.version

'3.1.2'

In [5]:
spark.version

'3.1.2'

In [6]:
numeros = [1, 2, 3, 4, 5]
cuadrados = list(map(lambda x: x ** 2, numeros))
print(cuadrados)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]